/* main */

#main {
  width: 100%;
  height: 90vh;
}

.slide-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#totalcard {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.slide-container {
  width: 300vw;
  height: 100%;
  position: absolute;
  top: -80px;
  transition: all 0.01s;
  transform: translateX(0vw);
}

.slide-box {
  width: 100vw;
  float: left;
}

#totalcard {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.slide-box img {
  width: auto;
  filter: brightness(45%);
}

.slide-text {
  position: absolute;
  top: 45%;
  padding-left: 5%;
}

.slide-text h3 {
  font-weight: 400;
  font-size: 23px;
}

.slide-text h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 5px 0px 25px 0px;
}

.slide-text button {
  width: 90px;
  height: 37px;
  font-size: 13px;
  color: white;
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 10px;
  margin-top: 25px;
}

.slide-btn {
  width: 100%;
  height: auto;
  position: absolute;
  top: 45%;
  padding: 0px 80px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-btn button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.slide-text button:hover {
  background-color: red;
  border: 0px;
  cursor: pointer;
}

.slide-btn img {
  width: 30px;
  opacity: 40%;
}

.br-hidden{
  display: none;
}


/* 반응형 Break point 768px */
@media screen and (max-width : 768px) { 
  #main{
    height: 500px;
  }

  .slide-btn{
    padding: 35px;
    top: 35%;
  }

  .slide-btn button{
    width: 20px;
  }

  .slide-box img{
    width: auto;
    height: 500px;
  }

  .slide-text{
    top: 48%;
    margin: auto;
    padding-left: 4%;
  }

  .slide-text h3 {
    font-size: 18px;
  }

  .slide-text h2 {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
  }

  .slide-text p {
    font-size: 12px;
    font-weight: 200;
  }

  .slide-text button{
    width: 60px;
    height: 30px;
    font-size: 12px;
    font-weight: 200;
    border-radius: 7px;
    margin-top: 15px;
  }

  .br-hidden{
    display: block;
  }


} 