/* popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content .btn {
  height: 60px;
  cursor: pointer;
}

.popup-content .content-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.popup-content .popup-overview {
  padding: 20px;
}
.popup-content .content-area .popup-id {
  font-size: 0.8rem;
}

.popup-content .content-area > div {
  width: 50%;
}

.popup-content .content-area .popup-img {
  width: 100%;
  max-width: 300px;
}
/* popup nd */
